---
import Layout from '../layouts/Layout.astro';
---

<Layout title="This week in Solid">
	<main>
		<h1>SolidJS Newsletter</h1>
		<nav>
			<li>
				<a href="/issues">Issues</a>
			</li>
		</nav>
	</main>
</Layout>

